.container {
  background-color: white;
  padding: 10px 80px;
}

.postContainer {
  text-align: left;
  margin: 10px 0;
  padding: 20px;
  border-bottom: solid 1px;
  &:last-of-type {
    border: 0;
  }

  .title {
  }

  .text {
    text-align: justify;
  }

  .authorSection {
    padding: 10px 0;
    .author {
      font-weight: 500;
      color: #615f5f;
      font-style: italic;
      font-size: 14px;
    }
  }

  .urlSection {
    padding: 10px 0;
    .url {
      a {
        color: #1e7cc9;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
